


 <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
        <div class="h1 my-4 p-1 big-info">
            <h1 style="text-align: center; font-style: italic; font-size: larger;">{{title}}</h1>
            <img width="60px" height="60px" src="./assets/FruitsImages/logo.jpg"/>
        </div>

        
    <div id="navbarID">
            <div class="navbar-nav">
                <li class="navitem m-1"></li><a class="btn btn-primary" routerLink="/Home">Home</a>
                <li class="navitem m-1"></li><a class="btn btn-primary" routerLink="Fruit/All">All Fruits</a>
                <li class="navitem m-1"></li><a class="btn btn-primary" routerLink="Fruit/Add">Add New Fruit</a>
                <li class="navitem m-1"><a class="btn btn-primary" routerLink="/Master">Master-Detail</a></li>
                
            </div>
        </div>
    </div>

</nav>









