/* You can add global styles to this file, and also import other style files */
h3{
    font-style: italic;
    font-size: 15pt;
    color:black;
}

.footer{
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
    bottom: 50%;
    padding-top: 5%;
}
.card-img{
    width: 150px;
    height: 200px;
}


